<!-- //Breadcrumb -->
<div class="page__section" style=" padding-top: 1rem;">
  <ul class="breadcrumbs breadcrumbs_type5">
    <li class="breadcrumbs__item "><a routerLink="/" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}" class="breadcrumbs__element link">Media</a></li>
    <li class="breadcrumbs__item  breadcrumbs__item_active"><a routerLink="/media" routerLinkActive="active-link"
        class="breadcrumbs__element active link">All Media</a></li>
  </ul>
</div>
<hr class="stroke" />

<!-- Media tabs -->
<div class="row">
  <div class="col-6">
    <app-tabs [tabs]="mediaTabs" (navigate)="switchTabs($event)"></app-tabs>
  </div>
  <div class="col-6">
    <button ejs-button class="omv-primary-plus float-right" [routerLink]="['/media/upload']">
      Upload Media
    </button>
  </div>
</div>

<!-- Filter --ignore -->

<!-- Toolbar -->
<div style="display:block; margin-bottom: 1.5em">
  <label class="media-label" style="padding-top:1rem; padding-right: 2rem;"> Total: {{ totalMedia$ | async }} </label>
  <span style="padding-top:1rem;">
    <i (click)="navigateToView('tile')"(click)="onIconClick('tile')" 
    [ngClass]="{'selected-background': showtabs==='tile'}" >
      <img  src="../../assets/images/group-2 (1).svg">
      <span class="vertical-line-grid"></span>
    </i>
    <i (click)="navigateToView('list')" (click)="onIconClick('list')"
    [ngClass]="{'selected-background': showtabs==='list'}">
      <img src="../../assets/images/group-3.svg"> 
       <span class="vertical-line-grid "></span>
    </i>
    <i (click)="navigateToView('tree')" (click)="onIconClick('tree')" 
    [ngClass]="{'selected-background': showtabs==='tree'}">
      <img src="../../assets/images/noun-tree-view-511540.svg">
      <span class="vertical-line-grid"></span>
    </i>
    <i (click)="navigateToView('map')" (click)="onIconClick('map')"
    [ngClass]="{'selected-background': showtabs==='map'}">
      <img src="../../assets/images/noun-map-677579.svg">
    </i>
  </span>
  <div style="float: right">
    <label class="media-label" style="display:inline; margin: 16px 10px">Selected Files:</label>
    <button class="media-button-small" style="display:inline; margin: 16px 10px">Sync Videos</button>
    <button class="media-button-small" style="display:inline; margin: 16px 10px">Download All</button>
    <button class="media-button-small" style="display:inline; margin: 16px 10px">Add to Playlist</button>
  </div>
</div>

<router-outlet></router-outlet>
