<div class="page__section" style=" padding-top: 1rem;">
  <a  routerLink="/media/{{mediaID}}/details" class="back-button">BACK</a>
</div>
<hr class="stroke" />

<div class="form-title">File Title :
  <label class="file-title">
      {{dataSource.name}}
  </label>  </div>


<div class="control-section">
  <div class="content-wrapper">

    <div *ngIf="mediaType === 'JPG' || mediaType === 'PNG' || mediaType === 'GIF'" style="width: 100%; height: 100vh">

      <img class="image" [src]="url" alt="Picture">


    </div>
    <div *ngIf="mediaType === 'DOC' || mediaType === 'DOCX' || mediaType === 'PDF' " style="width: 100%; height: 100vh">
      <div class="body">
        <iframe class="office iframe" [src]="trustedUrl" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          role="document" aria-label="Doc document" title="Doc document">
        </iframe>
      </div>
    </div>

    <div *ngIf="mediaType === 'PDF'">
      <ejs-pdfviewer id="pdfViewer" [serviceUrl]='service' [documentPath]='url' style="height:640px;display:block"></ejs-pdfviewer>
    </div>

  </div>
</div>
