
<div class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class=" container">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <label class="header-color ">
              Report Issues
            </label>
            <span class="vertical-stroke float-right">

            </span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="../../../assets/images/unknown-image.jpg" width="30" height="30" class="d-inline-block align-top"
              alt="">

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <label class="float-right" style="color:#ffff;">
              Name LastName
            </label></a>
        </li>

      </ul>
    
    </div>
  </nav>
</div>
<nav class="navbar-shadow bg-color justify-content-center   navbar navbar-light">

  <ul class="nav justify-content-center">

    <li class="nav-item">
      <a class="nav-link active" routerLink="/" [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="active-link">DASHBOARD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/media" routerLinkActive="active-link">MEDIA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/live-stream" routerLinkActive="active-link">LIVE STREAM</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/work-planning" routerLinkActive="active-link">WORK PLANNING</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/admin" routerLinkActive="active-link">ADMIN PORTAL</a>
    </li>
  </ul>
</nav>