<div class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class=" container">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <label class="header-color ">
              Report Issues
            </label>
            <span class="vertical-stroke float-right">

            </span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="../../../assets/images/unknown-image.jpg" width="30" height="30" class="d-inline-block align-top"
              alt="">

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <label class="float-right" style="color:#ffff;">
              Name LastName
            </label></a>
        </li>

      </ul>

    </div>
  </nav>
</div>
<div class="row">
    <nav class="navbar-shadow bg-color   navbar navbar-light"> 
      <div class="col-md-2 navbar1">

      </div>
      <div class="col-md-10 navbar2 ">
          <ul class="nav ">
    
            <li class="nav-item header-item" (click)="onHeaderTabClicked(' ')">
              <a class="nav-link active header-link-text" routerLink="/"  id="dashboard" [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="active-link">DASHBOARD</a>
                <hr [ngClass]="{'hr-stroke': value === ' '}" />
            </li>
            <li class="nav-item header-item" (click)="onHeaderTabClicked('media')">
              <a class="nav-link header-link-text" routerLink="/media" routerLinkActive="active-link">MEDIA</a>
              <hr [ngClass]="{'hr-stroke': value === 'media'}" />
            </li>
            <li class="nav-item header-item" (click)="onHeaderTabClicked('live-stream')">
              <a class="nav-link header-link-text" routerLink="/live-stream" routerLinkActive="active-link">LIVE STREAM</a>
              <hr [ngClass]="{'hr-stroke': value === 'live-stream'}" />
            </li>
            <li class="nav-item header-item" (click)="onHeaderTabClicked('work-planning')">
              <a class="nav-link header-link-text " routerLink="/work-planning" routerLinkActive="active-link">WORK PLANNING</a>
              <hr [ngClass]="{'hr-stroke': value === 'work-planning'}" />
            </li>
            <li class="nav-item header-item" (click)="onHeaderTabClicked('admin')">
              <a class="nav-link header-link-text " routerLink="/admin" routerLinkActive="active-link">ADMIN PORTAL</a>
              <hr [ngClass]="{'hr-stroke': value === 'admin'}" />
              <div [ngClass]="{'arrow-down': value === 'admin'}" class="arrow-down"></div>
            </li>
          </ul>
      </div>
      <div class="col-md-0"></div>
      </nav>
 
</div>