<nav class="navbar bg-light">
  <div class=" container">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #FAC42D">
          Report Issues
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar-shadow navbar" style="background: #F3F8FB">
  <div class="container">
    <div class="col-md-3 navbar1">
      <div class="oceaneeringLogo"><img src="../../../assets/images/oceaneering.png" alt="Oceaneering"></div>
      <div class="clientLogo"><img src="../../../assets/images/client-log.png" alt="Client"></div>
    </div>
    <div class="col-md-9   navbar2" style="display: block; position: relative">
      <ul class="nav" style="text-align: right; float: right; padding: 0!important;">

        <li class="nav-item header-item header-item-1">
          <a class="nav-link active header-link-text" routerLink="/" [ngClass]="{'active-link': currentRoute === '/'}">
            DASHBOARD
            <img class="line-stroke" src="../../../assets/images/selection.png"/>
          </a>
        </li>

        <li class="nav-item header-item header-item-1">
          <a class="nav-link header-link-text" routerLink="/media" routerLinkActive="active-link">
            MEDIA
            <img class="line-stroke" src="../../../assets/images/selection.png"/>
          </a>
        </li>

        <li class="nav-item header-item">
          <a class="nav-link header-link-text" routerLink="/live-stream" routerLinkActive="active-link">
            LIVE STREAM
            <img class="line-stroke" src="../../../assets/images/selection.png"/>
          </a>
        </li>

        <li class="nav-item header-item">
          <a class="nav-link header-link-text " routerLink="/work-planning" routerLinkActive="active-link">WORK
            PLANNING
            <img class="line-stroke" src="../../../assets/images/selection.png"/>
          </a>
        </li>

        <li class="nav-item header-item">
          <a class="nav-link header-link-text " routerLink="/collaborations" routerLinkActive="active-link">
            COLLABORATIONS
            <img class="line-stroke" src="../../../assets/images/selection.png"/>
          </a>
        </li>

        <li class="nav-item header-item">
          <a class="nav-link header-link-text " routerLink="/admin" routerLinkActive="active-link">
            ADMIN PORTAL
            <img class="line-stroke" src="../../../assets/images/selection.png"/>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
