<div class="form-title">File Title</div>

<div class="actionBar">
  <button (click)="showFieldsDialog()"><span class="actions"><i style="color: #33acbb" class="e-icons e-add"></i> Add Field</span></button>
  <button (click)="submit()"><span class="actions"><i style="color: #75b52f" class="e-icons e-reload"></i> Update Metadata</span></button>
  <button><span class="actions"><i style="color: #da5200" class="e-icons e-clear"></i> Disregard Changes</span></button>
</div>

<div class="row">
  <div class="col-md-6">
    <dynamic-form style="display: inline" [fields]="fields" (action)="submit()" (submit)="submit($event)" 
      *ngIf="fields?.length > 0"></dynamic-form>
  </div>

  <div class="col-md-6">
    <img *ngIf="isPDF !== true" src="../../../../assets/images/omvImage.png" alt="OMV Image" style="width: 100%; height: auto; margin: auto">
    <img *ngIf="isPDF === true" src="../../../../assets/images/omvPDFMedia.png" alt="OMV Image" style="width: 100%; height: auto; margin: auto" (click)="activatePDFViewer()">
  </div>
</div>

<ejs-dialog #fieldsDialog [visible]='true' [width]='500'>
  <ng-template #content>
    <button class="dialog-close" (click)="closeDialog()">
      <img src="../../../../assets/images/dialog-close.svg" />
    </button>
    <br />
    
    <label class="dialog-title">Add Field</label>
    <hr />
    <br />
    <ejs-dropdownlist class="" [dataSource]='allItemFields' [fields]='itemFields' [(value)]="fieldItem" placeholder="Please Select"></ejs-dropdownlist>
    <br />
    <button class="btn btn-lg omv-primary" (click)="addField()"> Done </button>
  </ng-template>
</ejs-dialog>