<h4>Group Information</h4><br>
<form>
  <div class="form-group">
    <label>Group Name</label>
    <input class="form-control form-control-lg" type="text" placeholder="Admin">
    <h5>Maybe some tip for the field</h5>
  </div><br>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control form-control-lg" type="text" placeholder="Admin">
    <h5>Maybe some tip for the field</h5>
  </div><br><br>
  
  <button type="button" class="btn omv-green" style="margin: 0 10px">Update Group</button>
  <button type="button" class="btn omv-green" style="display:inline; margin: 0 10px">Disable Group</button>
  <button type="button" class="btn omv-green" style="display:inline; margin: 0 10px">Delete Group</button>
</form>
