<div id="sidebar-section">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <button class="button-cls sidebar-heading dashboard-texts " [ngClass]="{ 'selected-background button-cls-focused': value === 'Admin' }">
        <a class=" valign"> Admin </a>
      </button>
      <button class="collapsible" [ngClass]="{ 'selected-background': selected === 'Media' || value === 'users' }">
        Media
      </button>
      <div class="content">
        <ul>
          <li [ngClass]="{ 'selected-background': selected === 'uploads' || value === 'users' }" class="cursor ">
            Uploads
          </li>
          <li [ngClass]="{ 'selected-background': selected === 'folder' || value === 'users' }" class=" cursor">
            Folder Structure
          </li>
          <li [ngClass]="{ 'selected-background': selected === 'bulk-uploader' }" class=" cursor">
            Bulk Uploader
          </li>
          <li [ngClass]="{ 'selected-background': selected === 'metadata' || value === 'users' }" class=" cursor">
            MetaData Details
          </li>
        </ul>
      </div>
      <button class="button-cls sidebar-heading dashboard-texts " [ngClass]="{ 'selected-background': selected === 'KPI' || value === 'users' }">
        KPIs
      </button>
      <button class="button-cls sidebar-heading dashboard-texts " [ngClass]="{ 'selected-background': selected === 'Filter' || value === 'users' }">
        Filters
      </button>
      <button class="collapsible">Work Planning</button>
      <div class="content">
        <ul>
          <li [ngClass]="{ 'selected-background': selected === 'Work' || value === 'users' }" class="cursor ">
            Work Templates
          </li>
          <li [ngClass]="{ 'selected-background': selected === 'work-sets' || value === 'users' }" class=" cursor">
            Work Sets
          </li>
        </ul>
      </div>
      <button class="collapsible" [ngClass]="(value === 'groups' || value === 'users') ? 'active' : ''">Users</button>
      <div class="content" [ngStyle]="{'max-height': (value === 'groups' || value === 'users') ? '500px' : ''}">
        <ul>
          <li routerLink="/admin/groups" [ngClass]="{ 'selected-background': selected === 'groups' || value === 'users' }" class="cursor " (click)="markAsSelected('groups')">
            Groups
          </li>
          <li routerLink="/admin/users" [ngClass]="{ 'selected-background': selected === 'users' || value === 'users' }" class=" cursor" (click)="markAsSelected('users')">
            Users
          </li>
          <li [ngClass]="{ 'selected-background': selected === 'permissions' || value === 'users' }" class=" cursor">
            Permissions
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
