<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" class="breadcrumbs__element"><ins></ins></a></li>
    <li class="breadcrumb-item"><a class="breadcrumbs__element"><ins>BACK</ins></a></li>
  </ol>
</nav>

<hr class="stroke" />

<div class="form-title">File Title</div>


<div class="control-section">
  <div class="content-wrapper">
    <ejs-pdfviewer id="pdfViewer" [serviceUrl]='service' [documentPath]='document' style="height:640px;display:block"></ejs-pdfviewer>
  </div>
</div>

