
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" routerLink="/admin/media/metadata"><a href="#" class="breadcrumbs__element"><ins></ins></a></li>
    <li class="breadcrumb-item" routerLink="/admin/media/metadata"><a class="breadcrumbs__element"><ins>BACK</ins></a></li>
  </ol>
</nav>
<div class="row">
  <div class="col-sm-6">
    <h4>Metadata Information</h4><br>
    <form novalidate (ngSubmit)="save()" [formGroup]="metadataListForm">
      <div class="form-group">
        <label for="nameId">List Name</label>
        <input class="form-control form-control-lg" id="nameId" type="text" placeholder=" "
          formControlName="name" 
          [ngClass]="{'is-invalid': (metadataListForm.get('name').touched ||
                                     metadataListForm.get('name').dirty) &&
                                     !metadataListForm.get('name').valid }" />
        <span class="invalid-feedback">
          <h5> Please enter a name </h5>
        </span>
      </div><br>
      <div class="form-group">
        <label for="descriptionId">Status</label>
       
        <ejs-dropdownlist id='ddlelement' #samples [dataSource]='data'
        [placeholder]='placeholder' [value]='id' [fields]='listFields'  formControlName="status" ></ejs-dropdownlist>
      </div><br>
      <app-edit [firstButtonText]="createMetaDataButtonText" [isfirstButtonDisabled]="!metadataListForm.valid || !metadataListForm.dirty"
          [secondButtonText]="metaDataActionText" [isSecondButtonVisible]="metaDatalistId" (secondButtonEvent)="changeStatus()">
      </app-edit>
    </form>
  </div>
  <div class="col-sm-6" >
    <div class="control-section e-tab-section">
      <div class="e-sample-resize-container">
          <app-tabs [tabs]="metadataItemTabs" (navigate)="switchTabs($event)"></app-tabs>
          <app-admin-metadata-list-items></app-admin-metadata-list-items>
        
      </div>
    </div>
  </div>
</div>

