<div>

  <div class="row">
    <div class="pb-3 col-md-4">
      <div class="e-control e-textbox e-lib">
        <div class="e-float-input e-control-wrapper e-input-group">
          <input #nameInput [value]="searchName"  (keyup)='search()' class="e-control e-textbox e-lib searchName" type="text" placeholder="Name">
          <span *ngIf="nameInput.value !==''" style="display: inline-block; margin-left: -20px" (click)="nameInput.value = ''" class="e-icons e-close"></span>
        </div>
      </div>
    </div>

    <div class="pb-3 col-md-4">
      <ejs-dropdownlist #groupselect name="group" id="group" [fields]='groupFields'  [(value)] ='groupid' [showClearButton]="true"
        [dataSource]="groups"  [placeholder]="'Select'" floatLabelType='Auto'>
      </ejs-dropdownlist>
    </div>
    <div class="pb-3 col-md-4">
      <span class="pt-3">

        <button ejs-button class="omv-green" (click)="search()">
          Search
        </button>

        <button ejs-button class="omv-primary-plus" (click)="edit()">
          Add New User
        </button>
      </span>
    </div>
  </div>

  <ejs-dialog #groupDialog [visible]='false' [buttons]='saveDlgButtons' [header]="'Assign Users to Groups'"
    [showCloseIcon]='true' [width]='300' [height]="500">
    <ng-template #content>
      <ejs-listview #listviewgroup id='group-list' [dataSource]='groups' [showCheckBox]='true' [fields]='groupFields'></ejs-listview>
    </ng-template>
  </ejs-dialog>

  <div class="">
    <app-list [listData]="users" [columns]="columns" [selectedRecords]="selectedUsers" [isToolBarVisible]="true"
              [toolbarActionOne]="statusChange"
              [toolbarActionTwo]="'Assign to Groups'"
              (firstAction)="changeUsersStatus($event)"
              (secondAction)="assignUsersToGroups($event)"
              (secondNavigateAction)="edit($event)"
              [showSecondAction]="true"
              [secondActionText]="editIcon"
              [checkField]="'userId'"
              [totalCountText]="'Total Users'">
    </app-list>
  </div>

</div>
