@import '../../../assets/css/button-styles.css';
.padding-grid{
  padding-top: 2rem;
}
.btn-color-search{
  background: #009B77;
  color: #fff;
  text-transform: initial !important;
  padding: 9px 7px 5px 9px;
  /* margin-top: -26px;
  margin-right: 16rem; */
  height: 37px;
  width: 113px;
  border-radius: 4px;
  border: solid 1px #009b77;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  line-height: normal;
}
.btn-color{
  margin-left: 1rem;
  text-transform: initial !important;
  color: #fff;
  background: #0097A9;
  width: 155px;
  height: 37px;
  border-radius: 4px;
  border: solid 1px #0097a9;
  font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    line-height: normal;
}

.e-indicator .e-ignore {
  height: 5px !important;
}

.Review-Groups {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #033b5c;
}

.Total-7 {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #033B5C;
}

.label-text {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #0097A9;
}
.e-tab-text{
  text-transform: initial !important;
}

.e-btn-hide {
  display: none;
}
.dlgbtn {
  margin-right: 5%;
}
.control-section {
 height: 100%;
 min-height: 350px;
}
