<h4>User Information</h4><br>
<form>
  <div class="form-group">
    <label>Full Name</label>
    <input class="form-control form-control-lg" type="text" placeholder="Admin">
    <h5>Maybe some tip for the field</h5>
  </div><br>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control form-control-lg" type="text" placeholder="johndoe@mail.com">
    <h5>Maybe some tip for the field</h5>
  </div><br>
  <div class="form-group">
    <label>Groups</label>
    <input class="form-control form-control-lg" type="text" placeholder="groups">
    <h5>Maybe some tip for the field</h5>
  </div><br><br>
  <button type="button" class="btn btn-primary" style="margin: 0 10px">Enable User</button>
  <button type="button" class="btn btn-primary" style="display:inline; margin: 0 10px">Disable User</button>
</form>