<div>
    <div class="row">
        <div class="pb-3 col-md-12">
            <span class="pt-3">
                <button ejs-button class="omv-primary-plus float-right" (click)="add()">
                    Add New Fields
                </button>
            </span>
        </div>
    </div>
    <ejs-dialog #fieldDialog [visible]="false" [width]="350" [height]="400">

        <ng-template #content>

            <form  [formGroup]="metadataFieldForm">
                <button class="dialog-close" (click)="closeDialog()">
                    <img src="../../../../assets/images/dialog-close.svg" />
                </button>
                <br />
                <div class="row pt-3 pb-3">
                    <div class="col-md-4"><label>
                            Field Name
                        </label></div>
                    <div class="col-md-8">
                        <input class="form-control form-control-lg" id="fieldNameId" type="text" placeholder=""
                            formControlName="fieldName"
                            [ngClass]="{'is-invalid': (metadataFieldForm.get('fieldName').touched ||
                                                                               metadataFieldForm.get('fieldName').dirty) &&
                                                                              !metadataFieldForm.get('fieldName').valid }" />
                    </div>
                </div>
                <div class="row pt-3 pb-3">
                    <div class="col-md-4"><label>
                            Field Type
                        </label></div>
                    <div class="col-md-8">

                        <ejs-dropdownlist id='ddlelement' #samples formControlName="fieldTypeId"
                            [dataSource]='fieldTypeData' (change)="checkFieldType()"
                            [placeholder]="'Select a Field Type'" [value]='name' [fields]='typeListFields'>
                        </ejs-dropdownlist>
                    </div>
                </div>
                <div [hidden]="!showListDropdown" class="row pt-3 pb-3">
                    <div class="col-md-4"><label>
                            List
                        </label></div>
                    <div class="col-md-8">
                        <div >
                                <ejs-dropdownlist id='ddlelement' #samplesDropdownlist formControlName="metadataListId"
                                    [dataSource]=' allMetadataList  ' [placeholder]="'Select a List'"
                                    [value]='itemDescription' [fields]=' createListFields '>
                                </ejs-dropdownlist>
                        </div>
                    </div>
                </div>
                <button class="btn btn-lg omv-primary" [disabled]='!metadataFieldForm.valid || !metadataFieldForm.dirty'  (click)=" save() "> Done </button>
            </form>
        </ng-template>
    </ejs-dialog>
    <div class="">
        <app-list [listData]="metadataFields" [columns]="columns" (firstNavigateAction)="remove($event)"
            (secondNavigateAction)="edit($event)" [showFirstAction]="true" [firstActionText]="editLink"
            [showSecondAction]="true" [secondActionText]="removeLink"></app-list>
    </div>
</div>