<div>
    <div class="row">
        <div class="pb-3 col-md-12">
            <span class="pt-3">
                <button ejs-button class="omv-primary-plus float-right" (click)="add()">
                    Add New Fields
                </button>
            </span>
        </div>
    </div>
    <ejs-dialog #fieldDialog [visible]="false" [buttons]="addDlgButtons" [header]="'New Fields'" [showCloseIcon]="true"
        [width]="350" [height]="400">

        <ng-template #content>
            <form novalidate (ngSubmit)="saveDlgBtnClick()" [formGroup]="metadataFieldForm">
                <div class="row pt-3 pb-3">
                    <div class="col-md-4"><label>
                            Field Name
                        </label></div>
                    <div class="col-md-8">

                        <input class="form-control form-control-lg" id="fieldNameId" type="text" placeholder=""
                            formControlName="fieldName"
                            [ngClass]="{'is-invalid': (metadataFieldForm.get('fieldName').touched ||
                                                                               metadataFieldForm.get('fieldName').dirty) &&
                                                                              !metadataFieldForm.get('fieldName').valid }" />
                    </div>
                </div>
                <div class="row pt-3 pb-3">
                    <div class="col-md-4"><label>
                            Field Type
                        </label></div>
                    <div class="col-md-8">

                        <ejs-dropdownlist id='ddlelement' #samples formControlName="fieldType"
                            (change)="addList($event)" [dataSource]='fieldTypeData'
                            [placeholder]="'Select a Field Type'" [value]='name' [fields]='typeListFields'>
                        </ejs-dropdownlist>
                    </div>
                </div>
                <div class="row pt-3 pb-3">
                    <div class="col-md-4"><label>
                            List
                        </label></div>
                    <div class="col-md-8">
                        <ejs-dropdownlist id='ddlelement' #samplesDropdownlist formControlName="List" (change)="addList($event)" [dataSource]='data'
                            [placeholder]="'Select a List'" [value]='name' [fields]='listFields'></ejs-dropdownlist>
                    </div>
                </div>
            </form>
        </ng-template>
    </ejs-dialog>
    <div class="">
        <app-list [listData]="metadataFields" [columns]="columns" (firstNavigateAction)="remove($event)"
            (secondNavigateAction)="navigate($event)" [showFirstAction]="true" [firstActionText]="editLink"
            [showSecondAction]="true" [secondActionText]="removeLink"></app-list>
    </div>
</div>