
<app-header></app-header>

<div *ngIf="notificationMessages !== null"
     [ngClass]="{'omv-notifications': notificationMessages !== null }"
     [ngStyle]="{background: notificationColour}">
  <div class="omv-notification-message">{{ notificationMessages }}</div>
  <div class="omv-notification-close">
    <span class="e-icons e-add-icon" (click)="clearNotification()" style="font-size: larger"></span>
  </div>
</div>


<div *ngIf="(showConfirmationBox$ | async) === true" class="confirmationArea" (click)="closeConfirmationBox()"></div>
<div class="confirmationBox" *ngIf="(showConfirmationBox$ | async) === true">
  <div class="confirmationMessage">This is a sample confirmation message</div>
  <div class="confirmationAction">
    <button (click)="Confirmation()">Confirm</button>
    <button (click)="closeConfirmationBox()" style="background: #d0d0d0!important; color: #323232">Cancel</button>
  </div>
</div>


<div class="container">
  <div class="row pt-4">
    <div *ngIf="showLeftNav$ | async" class="col-md-3">
      <app-leftnav></app-leftnav>
    </div>
    <div [ngClass]="(showLeftNav$ | async) ? 'col-md-9' : 'col-md-12'">
      <div id="spinnerContainer"></div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


