
<app-header></app-header>

<ejs-toast #element (created)="onCreate($event)" [position]='position' showProgressBar='true' showCloseButton='true'></ejs-toast>
<!-- <ejs-toast id='elementToastTime' #confirmBox (created)="onCreate($event)" width='300px' height='150px' [buttons]='buttons'
  title='Update User' content='Are you sure you want to update the user?' [position]='confirmBoxPosition'></ejs-toast> -->

<div class="container">
  <div class="row pt-4">
    <div *ngIf="showLeftNav$ | async" class="col-md-3">
      <app-leftnav></app-leftnav>
    </div>
    <div [ngClass]="(showLeftNav$ | async) ? 'col-md-9' : 'col-md-12'">
      <div id="spinnerContainer"></div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
