<div id="loading" style="display: block; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; padding-top: 35vh; z-index: 5000; background: white" *ngIf="browser !== 'Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; Touch; .NET4.0C; .NET4.0E; .NET CLR 2.0.50727; .NET CLR 3.0.30729; .NET CLR 3.5.30729; Tablet PC 2.0; zoomrc 4.4.0; rv:11.0) like Gecko'">
  <div style="text-align: center">
    <img src="./assets/images/oceaneering.png" alt="Oceaneering" style="font-size: xx-large; font-weight: bolder">
    <div style="font-weight: bold; font-size: medium">Loading...</div>
  </div>
</div>

<app-header></app-header>

<ejs-toast #element [position]='position' showProgressBar='true' showCloseButton='true'></ejs-toast>

<main id="main" [ngClass]="{'container-fluid': displayWidth <= 1265, 'container': displayWidth > 1265}">
  <div class="row pt-4">
    <div *ngIf="showLeftNav$ | async" class="col-md-3">
      <app-leftnav></app-leftnav>
    </div>
    <div [ngClass]="(showLeftNav$ | async) ? 'col-md-9' : 'col-md-12'">
      <div id="spinnerContainer"></div>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
