<div>
    <div class="row">
        <div class="pb-3 col-md-12">
            <span class="pt-3">
                <button ejs-button class="omv-primary-plus float-right" (click)="add()">
                    Add New List
                </button>
            </span>
        </div>
    </div>
    <!-- <ejs-dialog #listDialog [visible]="false" [buttons]="addDlgButtons" [header]="'New Lists'" [showCloseIcon]="true"
        [width]="350" [height]="400">

        <ng-template #content>
            <form novalidate (ngSubmit)="saveDlgBtnClick()" [formGroup]="metadataListForm">
                <div class="row pt-3">
                    <div class="col-md-4"><label>
                            List Name
                        </label></div>
                    <div class="col-md-8">
                        <input class="form-control form-control-lg" id="fieldNameId" type="text" placeholder=""
                            formControlName="fieldName"
                            [ngClass]="{'is-invalid': (metadataListForm.get('fieldName').touched ||
                                                                               metadataListForm.get('fieldName').dirty) &&
                                                                              !metadataListForm.get('fieldName').valid }" />
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-4"><label>
                            List Type
                        </label></div>
                    <div class="col-md-8">
                        <input class="form-control form-control-lg" id="fieldTypeId" type="text" placeholder=""
                            formControlName="fieldType"
                            [ngClass]="{'is-invalid': (metadataListForm.get('fieldType').touched ||
                                                                               metadataListForm.get('fieldType').dirty) &&
                                                                              !metadataListForm.get('fieldType').valid }" />
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-md-4"><label>
                            List
                        </label></div>
                    <div class="col-md-8">
                        <ejs-dropdownlist id='ddlelement' #samples (change)="addList($event)" [dataSource]='data'
                            [placeholder]='placeholder' [value]='id' [fields]='listFields'></ejs-dropdownlist>
                    </div>
                </div>
            </form>
        </ng-template>
    </ejs-dialog>-->
    <ejs-dialog #listDialog [visible]='false' [width]='500'>
        <ng-template #content>
            <button class="dialog-close" (click)="closeDialog()">
                <img src="../../../../assets/images/dialog-close.svg" />
            </button>
            <br />

            <label class="dialog-title">Add Metadata list </label>
            <hr />
            <br />
            <form novalidate (ngSubmit)="saveDlgBtnClick()" [formGroup]="metadataListForm">
                <div class="row pt-3">
                    <div class="col-md-3"><label class="media-label" style="padding-top: 11px;">
                            List Name:
                        </label></div>
                    <div class="col-md-8">
                        <input class="form-control form-control-lg" id="fieldNameId" type="text" placeholder=""
                            formControlName="fieldName"
                            [ngClass]="{'is-invalid': (metadataListForm.get('fieldName').touched ||
                                                                                   metadataListForm.get('fieldName').dirty) &&
                                                                                  !metadataListForm.get('fieldName').valid }" />
                    </div>
                </div>
            </form> <br />
            <!-- <ejs-listview [showCheckBox]='true'></ejs-listview> -->

            <button class="btn btn-lg omv-primary" (click)="saveDlgBtnClick()"> Save Changes </button>
            <button class="media-button-small" (click)="closeDialog()" style="margin-left: 25px;"> Cancel </button>
        </ng-template>
    </ejs-dialog>

    <ejs-dialog #confirmDialog [visible]='false' [buttons]='confirmDlgButtons' [showCloseIcon]='true' [width]='500'>
    </ejs-dialog>

    <div class="">
        <app-list [listData]="metadataLists"
            [columns]="columns" 
            [isToolBarVisible]="true"
            [totalCountText]="'Total Lists'"
            [toolbarActionOne]="statusChange"
            (firstAction)="changeMetadataListStatus($event)"
            (secondNavigateAction)="edit($event)"
             (firstNavigateAction)="remove($event)"
            [showFirstAction]="true" 
            [showSecondAction]="true"
             [secondActionText]="editIcon"></app-list>
    </div>
</div>