<div class="layout">
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-3">
        <app-admin-sidebar (complete)="onSideBarValueChanged($event)"></app-admin-sidebar>
      </div>
      <div class="col-md-9">
        <div class="title default"></div>
        <div class="sub-title">            
          <div *ngIf="value === 'Admin'"></div>
          <div *ngIf="value === 'uploads'">
            <div class="control-section e-tab-section">
              <div class="e-sample-resize-container"></div>
            </div>
          </div>
          <div *ngIf="value === 'KPI'"></div>
          <div *ngIf="value === 'Filter'"></div>
          <div *ngIf="value === 'Work'"></div>
          <div *ngIf="value === 'folder'"></div>
          <div *ngIf="value === 'groups'">
            <app-admin-groups></app-admin-groups>
          </div>
          <div *ngIf="value === 'workPlanningInfo'"></div>
          <div *ngIf="value === 'work-sets'"></div>
          <div *ngIf="value === 'users'">
            <app-admin-users></app-admin-users>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
