<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" routerLink="/admin/users"><a href="#" class="breadcrumbs__element"><ins></ins></a>
      </li>
      <li class="breadcrumb-item" routerLink="/admin/users"><a 
          class="breadcrumbs__element"><ins>BACK</ins></a></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-sm-6">
      <h4>User Information</h4><br>
      <form novalidate (ngSubmit)="save()" [formGroup]="groupForm">
        <div class="form-group">
          <label for="nameId">Group Name</label>
          <input class="form-control form-control-lg"
                   id="nameId"
                   type="text"
                   placeholder="Enter a group name"
                   formControlName="name"
                   [ngClass]="{'is-invalid': (groupForm.get('name').touched ||
                                              groupForm.get('name').dirty) &&
                                              !groupForm.get('name').valid }" />
          <span class="invalid-feedback">
            <h5> Please enter a name </h5>
          </span>
        </div><br>
        <div class="form-group">
          <label>Description</label>
          <input class="form-control form-control-lg"
                   id="emailAddressId"
                   type="text"
                   placeholder="Enter a description for the group"
                   formControlName="description"
                   [ngClass]="{'is-invalid': (groupForm.get('description').touched ||
                                              groupForm.get('description').dirty) &&
                                              !groupForm.get('description').valid }" />
          
        </div><br><br>
        <button type="submit" class="btn btn-primary" 
                [disabled]="!groupForm.valid"
                [title]="groupForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                style="margin: 0 10px">
          Update Group
        </button>
        <button type="button" class="btn btn-primary" style="display:inline; margin: 0 10px">Disable Group</button>
      </form>
    </div>
    <div class="col-sm-6">
      <div class="control-section e-tab-section">
        <div class="e-sample-resize-container">
            <app-tabs [tabs]="groupsTabs" (navigate)="switchTabs($event)"></app-tabs>
            <app-admin-group-permissions *ngIf="showPermissions"></app-admin-group-permissions>
            <app-admin-group-members *ngIf="showMembers"></app-admin-group-members>
            <app-admin-group-media-access *ngIf="showMediaAccess"></app-admin-group-media-access>
        </div>
      </div>
    </div>  
  </div>
  