.btnBack{
  display: inline-block;
  margin: 0 0 30px 0;
  color: #0097a9;
  font-weight: 500;
  font-size: 14px;
}

.btnBack:before {
  content: "\e84b";
  padding: 0 10px;
}

h4{
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #033b5c;
}

h5{
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  line-height: 1.88;
  letter-spacing: 0.1px;
  color: #5b7f95;
}

label{
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #5b7f95;
  height: 34px;
}

/*::placeholder{*/
  /*font-family: 'OpenSans', sans-serif;*/
  /*font-size: 16px;*/
  /*letter-spacing: 0.1px;*/
  /*color: #033b5c;*/
/*}*/
