.grid-toolbar-item-button {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #0097A9;
  background: none;
  border: none;
}

.grid-toolbar-item-label {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #033B5C;
}

.e-tab-text{
  text-transform: initial !important;
}
.link{
  text-decoration: underline !important;
  font-family: 'OpenSans', sans-serif !important;
  color: #0097A9 !important;
}

