<div class=" " style="padding-top:2rem;padding-bottom: .5rem;">
  <span>
    <label class="Total-7">
      Total Users: {{ listData?.length }}
    </label>
  </span>
  <span class="float-right">
    <label class="Total-7 pr-2">
      Selected:
    </label>
    <label class="label-text pr-2">
      Delete
    </label>
    <label class="label-text pr-2">
      Disable
    </label>
    <label class="label-text pr-2">
      Edit
    </label>
  </span>
</div>
<ejs-grid #grid [dataSource]="listData" id="Grid">
  <e-columns>
    <ng-template #template ngFor let-column [ngForOf]="columns">
      <e-column
        [field]="column.field"
        [type]="column.type"
        [headerText]="column.headerText"
        [width]="column.width">
      </e-column>
    </ng-template>
  </e-columns>
</ejs-grid>
