<div *ngIf="isToolBarVisible" style="padding-top:2rem;padding-bottom: .3rem;">
  <span>
    <label class="grid-toolbar-item-label">
      {{ totalCountText }}: {{ listData?.length }}
    </label>
  </span>
  <span class="float-right">
    <label class="grid-toolbar-item-label">
      Selected:
    </label>
    <button *ngIf="toolbarActionOne" class="grid-toolbar-item-button" (click)="performFirstToolbarAction()" [disabled]="!(selectedRecords.length > 0)">
      {{ toolbarActionOne }}
    </button>
    <button *ngIf="toolbarActionTwo" class="grid-toolbar-item-button" (click)="performSecondToolbarAction()" [disabled]="!(selectedRecords.length > 0)">
      {{ toolbarActionTwo }}
    </button>
  </span>
</div>

<section style="display: flex; width: 100%; overflow-x: auto; margin: 0 5px 0 0">
  <ejs-grid #grid [dataSource]="listData" (rowDataBound)='rowDataBound($event)' (dataBound)='dataBound($event)'
            (rowSelected)="rowSelected($event)" (rowDeselected)="rowDeselected($event)" [allowSorting]='true'
            (created)='gridCreated()' id="Grid">
    <e-columns>
      <ng-template #template ngFor let-column [ngForOf]="columns" let-i="index">
        <e-column [field]="column.field" [type]="column.type" [headerText]="column.headerText" [width]="column.width"
                  [textAlign]="column.textAlign">
        </e-column>

        <e-column *ngIf="showStatusIcon && i === statusIconPosition" headerText='' width='40' textAlign='Left'>
          <ng-template #template let-data>
            <img *ngIf="data.status === requestStatusEnum.Rejected " class="status-cls cursor"
              [src]=" '../../../assets/images/rejected.png'">
            <img *ngIf="data.status === requestStatusEnum.Draft" class="status-cls  cursor"
              [src]=" '../../../assets/images/attention.png'">
            <img *ngIf="data.status === requestStatusEnum.Approved " class="status-cls cursor"
              [src]=" '../../../assets/images/check-circle-regular.svg'">
          </ng-template>
        </e-column>
      <!-- FAVORITE ICON COLUMN -->
      <e-column *ngIf="showFavoriteIcon && i === favoriteIconPosition" headerText='' width='40' textAlign='Left'>
        <ng-template #template let-data>
          <img class="favorite-cls cursor" (click)="performToggleFavorite(data)"
            [src]="data.isFavorite ? '../../../assets/images/favorite.png' : '../../../assets/images/notfavorite.png'">  
        </ng-template>
      </e-column>
    </ng-template>

    <e-column *ngIf="showFirstAction" field='' headerText='' width='100'>
      <ng-template #template>
        <a class="link" (click)="performFirstAction($event)" [innerHTML]="firstActionText" style="text-decoration: none!important"></a>
      </ng-template>
    </e-column>

      <e-column *ngIf="showSecondAction" field='' headerText='' width='70'>
        <ng-template #template>
          <a class="link" (click)="performSecondAction($event)" [innerHTML]="secondActionText" style="text-decoration: none!important"></a>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</section>


<div style='margin-top: 16px;' class="float-right">
  <button *ngIf="buttonOneText" type="button" class="btn btn-primary" style="margin-right:8px" (click)="buttonone()">{{buttonOneText}}</button>
  <button *ngIf="secondButtonText" [disabled]="selectedRecords.length <= 0" type="button" class="btn btn-primary" style="margin-right:8px" (click)="performSecondButtonEvent()">{{ secondButtonText }}</button>
</div>
