.filter-container {
  background: #FFF;
  border-radius: 4px;
  border: solid 1px #5b7f95;
}

.filter-top-section {
  padding: 12px 16px !important;
  
}

hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border: 0 !important;
  border: solid .5px #5b7f95 !important;
}

.button-round {
  margin: 20px auto;
  display: block;  
  width: 187px;
  height: 40px;
}