<!-- <span class="e-icons arrowBack"><a routerLink="/admin/users"> Back </a></span> -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" routerLink="admin/media/uploads/new"><a href="#" class="breadcrumbs__element"><ins></ins></a></li>
    <li class="breadcrumb-item" routerLink="admin/media/uploads/new"><a class="breadcrumbs__element"><ins>BACK</ins></a></li>
  </ol>
</nav>

<div class="row">
  <div class="col-sm-6">
    <label class="title title-16"> Upload Number One </label>
    
    <dynamic-form #dynamicForm="dynamicForm" style="display: inline" [config]="fields" *ngIf="fields?.length > 0"></dynamic-form>
    <br />

  </div>
</div>
