<div style="padding-top:2rem;padding-bottom: .3rem;">
    <span>
        <label class="grid-toolbar-item-label">
            Total : {{ total }}
        </label>
    </span>
    <span class="float-right">
        <label class="grid-toolbar-item-label pr-2">
                <img class="status-cls pl-1 cursor" src=" ../../../../../assets/images/check-circle-regular.svg">
            Completed
        </label>
        <label class="grid-toolbar-item-label  pr-2">
            <img class="status-cls pl-1 cursor" src=" ../../../../../assets/images/attention.png">
            Issues
        </label>
        <label class="grid-toolbar-item-label">
            <img class="status-cls pl-1 cursor" src=" ../../../../../assets/images/rejected.png">
            Errors
        </label>
    </span>
</div>

<app-list [listData]="uploadHistoryMedia$ | async" 
          [showStatusIcon]="showStatusIcon"
          [statusIconPosition]="0"
          [columns]="columns">
</app-list>