
@import '../../../assets/css/button-styles.css';
.e-tab-text {
  font-family: 'OpenSans', sans-serif!important;
  font-size: 16px!important;
  font-weight: 600!important;
  color: #5b7f95!important;
}

.e-rowcell {
  color: #033b5c;
  font-size: 14px;
}

.e-indicator {
  border: solid 2px #033b5c;
}

.e-tab-text {
  text-transform: none!important;
}

.e-icons::before {
  content: '\e83d';
  color: white;
  font-weight: bolder;
  font-size: 10px;
  display: inline-block;
  margin: 0 10px;
}
.upload-rectangle{
  width: 171px;
  height: 27px;
  border-radius: 4px;
  border: solid 1px #0097a9;
  background-color: #0097a9;

}
.upload-text{
  text-align:center;
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  color: #fff;
  padding-left: 1rem;
  padding-top:-1.5rem;

}
.upload{
  margin-left:1rem;
  margin-right: 1rem;
}
h6{
  font-family:'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #033b5c;

}
button{
  border-radius: 4px;
  border: solid 1px #0097a9;
  background-color: #0097a9; 
  padding-left: 1rem;
  padding-top: 9px;
  font-size: 14px;
  font-style: normal;
  letter-spacing: -0.1px;
  color: #fff;
}
/* .btn-color{
  margin-left: 1rem;
  text-transform: initial !important;
  color: #fff;
  background: #0097A9;
  width: 155px;
  height: 37px;
  border-radius: 4px;
  border: solid 1px #0097a9;
  font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    line-height: normal;
} */