<h6>Review Groups
  <span style="float:right;">
  <button>
    <div class="upload-rectangle">
      <div class="upload">
        <img src="../../assets/images/plus-icon.svg" />
        <label class="upload-text">
          Add New Group
        </label>
      </div>
    </div>
  </button>
</span></h6><br> <br>
<div style="display: block; margin: 20px 0">
  <div style="display: inline-block; color: #033b5c; font-size: 14px; font-weight: 600; font-family:  'OpenSans', sans-serif" class="col-md-6">
    Total Uploads: 7
  </div>
  <div style="display: inline-block; text-align: right" class="col-md-6">
    <span style="color: #033b5c; display: inline-block; font-size: 14px; margin: 0 10px">Selected:</span>
    <span style="color: #0097a9; display: inline-block; font-size: 14px; margin: 0 10px">Delete</span>
    <span style="color: #0097a9; display: inline-block; font-size: 14px; margin: 0 10px">Disable</span>
    <span style="color: #0097a9; display: inline-block; font-size: 14px; margin: 0 10px">Edit</span>
  </div>
</div>

<app-list [listData]="groups" [columns]="columns"></app-list>
