<div class="row card-layout">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding-bottom:2rem;" *ngFor="let data of dataSource">
    <div tabindex="0" class="e-card card " id="basic">
      <div tabindex="0" class="e-card" id="basic_card">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <div class="e-card-header-title">
              <ejs-tooltip #tooltip id='tooltip' [content]='data.name' position='TopCenter'>
                <img class="info-cls" src="../../../assets/images/info.png">
              </ejs-tooltip>
              
              <span class="align-items" style="float:right;">
                <span style="padding-right:1rem;">
                  <label class="media-tile-info-bold pr-2">
                    {{ data.type }}
                  </label>    
                  <label class="media-tile-info">
                    {{ data.size | filesize:0 }}
                  </label>
                </span>
                <span>
                  <img (click)="performToggleFavorite(data)" class="favorite-cls cursor" 
                    [src]="data.isFavorite ? '../../../assets/images/favorite.png' : '../../../assets/images/notfavorite.png'">
                  <ejs-checkbox cssClass="e-small float-right" (click)="getItemData(data.metaData)" [checked]="data.isChecked ? true: false"></ejs-checkbox>
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="e-card-content cursor pb-0" (click)="performItemClick(data)">
          <img  [src]="data.thumbnail"  class="center-img cursor" height="150">
          <span>
            <label class="media-tile-info pt-4">
              {{data.name | uppercase}}
            </label>
          </span>
        </div>
        <div class="e-card-actions pt-0">
        </div> 
          <label class="media-tile-info-bold text-md-left pl-3 tile-card-date" >
            {{ data.modifiedOn | date }}
          </label>
      </div>
    </div>
  </div>
</div>