<ejs-treegrid [dataSource]='data' [treeColumnIndex]='0' (rowSelected)="rowSelected($event)"
              [selectionSettings]='selectionOptions' [allowSorting]='true' parentIdMapping='parentID' idMapping='id'>
  <e-columns>
      <e-column headerText='' width='50' textAlign='Center'>
          <ng-template #template let-data>
            <div *ngIf="data.isChecked; else elseblock">
              <ejs-checkbox cssClass="e-success" [checked]="true"></ejs-checkbox>
            </div>
          </ng-template>
          <ng-template #elseblock>
            <ejs-checkbox cssClass="e-success" [checked]="false"></ejs-checkbox>
          </ng-template>
        </e-column>

    <e-column field='name' headerText='Name' textAlign='Left'></e-column>
    <e-column field='date' headerText='Date' textAlign='Left'></e-column>
  </e-columns>
</ejs-treegrid>
