/* You can add global styles to this file, and also import other style files */
@import './assets/css/material.css';
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';
.e-upload{
  border-style: none !important ;
  border: 0px solid rgba(0, 0, 0, 0.12) !important ;

}

.stroke{
  border-bottom: 3px solid #0097a9;
  border-top: 0px solid rgba(0,0,0,.1);
  height: 5.1px;
  opacity: 0.09;
}
.layout{
    background: #f3f8fb;
    height: 100% !important;
}
html, body {
  height:100%;
  width:100%;
  background: #f3f8fb;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px;
}
.container {
  position: static;
  display: block;
  bottom: 0!important;
  max-width: 1440px !important;
  padding-left: 7rem !important;
  padding-right:7rem !important;
}
.cursor{
    cursor: pointer;
}
.e-checkbox-wrapper .e-frame, .e-css.e-checkbox-wrapper .e-frame {
    background-color: #fff;
    border-color: #0097A9 !important;
}
  .e-grid .e-headercell, .e-grid .e-detailheadercell {
      background-color: #00263E !important;
      color: #fff !important;
    }
.e-row{
    background-color:#DEEFF3;
    cursor: pointer;
}
.e-altrow{
  background-color:#F3F8FB;
  cursor: pointer;
}
.breadcrumbs_type5{
    --breadcrumbsDivider: "›";
    --breadcrumbsDividerSize: 20px;
  }
.e-tab .e-content {
    background: #F3F8FB !important;
}
  .breadcrumbs{
    --cssuiBreadcrumbsTextColor: var(--breadcrumbsTextColor);
    --cssuiBreadcrumbsTextColorActive: var(--breadcrumbsTextColorActive);
    --cssuiBreadcrumbsDivider: var(--breadcrumbsDivider);
    --cssuiBreadcrumbsDividerColor: var(--breadcrumbsDividerColor, inherit);
    --cssuiBreadcrumbsDividerSize: var(--breadcrumbsDividerSize, 16px);
    --cssuiBreadcrumbsIndent:  var(--breadcrumbsIndent, 8px);

    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
  }

  .breadcrumbs__item{
    display: inline-block;
    position: relative;

    padding-right: calc(var(--cssuiBreadcrumbsDividerSize) + var(--cssuiBreadcrumbsIndent));
    margin-right: var(--cssuiBreadcrumbsIndent);

    color: var(--cssuiBreadcrumbsTextColor);
  }

  .breadcrumbs__item:after{
    content: var(--cssuiBreadcrumbsDivider);
    width: var(--cssuiBreadcrumbsDividerSize);
    height: var(--cssuiBreadcrumbsDividerSize);

    line-height: 1;
    text-align: center;

    font-family: "Arial", sans-serif;
    font-size: var(--cssuiBreadcrumbsDividerSize);
    color: var(--cssuiBreadcrumbsDividerColor);

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .breadcrumbs__item_active{
    margin-right: 0;
    padding-right: 0;
    color: var(--cssuiBreadcrumbsTextColorActive);
  }

  .breadcrumbs__item_active:after{
    display: none;
  }
  .breadcrumbs__element{
    color: inherit;
  }
  .radiobutton-control {
    margin: 5% 0 5% 40%;
}

@media only screen and (max-width: 500px) {
    .radiobutton-control {
        margin-left: 21%;
        margin-top: 20%;
        margin-bottom: 27%;
    }
}

@media only screen and (max-width: 700px) {
    .checkbox-control {
        margin-left: 35%;
        margin-top: 8%;
    }

    .control-section {
        min-height: 200px;
    }
}

.control-section .row {
    margin: 20px 0;
}

.radiobutton-control h4 {
    color: rgba(0, 0, 0, 0.64);
    font-size: 18px;
}

.highcontrast .radio-control h4 {
    color: rgba(255, 255, 255, 0.64);
}

.e-bigger .radiobutton-control h4 {
    font-size: 20px;
}
.leaflet-control-layers-toggle {
  background-image: url("https://unpkg.com/leaflet@1.4.0/dist/images/layers.png");
}
.e-grid .e-gridheader {
  padding-right: 0px!important;
}
.e-tab .e-tab-header.e-tab-tex{
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5b7f95 !important;
}

/************ OMV Button **************/
.omv-green {
  background: #009B77!important;
  color: #ffffff!important;
  text-transform: initial !important;
  padding: 10px 25px!important;
  margin: 5px;
  border: none;
  border-radius: 4px;
}

.omv-primary{
  background: #0097A9!important;
  color: #ffffff!important;
  text-transform: initial !important;
  padding: 10px 25px!important;
  margin: 5px;
  border: none;
  border-radius: 8px;
}

.omv-primary[disabled]{
  background: #74f1f8 !important;
  color: #ffffff!important;
}

.omv-primary-plus{
  text-transform: initial !important;
  color: #ffffff!important;
  background: #0097A9!important;
  display: inline-block;
  padding: 10px 15px 10px 28px !important;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  border: none;
  border-radius: 4px;
}

.omv-primary-plus[disabled] {
  background: #adf0f8 !important;
  color: #ffffff!important;
}

.omv-primary-plus::before{
  content: url("./assets/images/plus-icon.svg")!important;
  display: inline-block;
  position: absolute;
  margin: -1px 0 0 -25px;
  border: none;
  border-radius: 4px;
}
/************ End OMV Button **************/


/************ OMV Badge **************/
.omv-orange-badge {
  font-family: 'EMprint', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.1px;
  color: #033b5c;
  border-radius: 10px;
  background-color: #ffc72c;
  padding: 5px 10px;
  margin-left: 10px;
}
/************ End OMV Badge **************/

/************ OMV Notification **************/
@keyframes omv-notifications-animate {
  from {right: -350px}
  to {right: 60px}
}

.omv-notifications {
  display: block;
  position: fixed;
  right: 60px;
  top: 60px;
  z-index: 1000;
  padding: 25px 10px;
  border-radius: 5px;
  animation: omv-notifications-animate 1s linear;
}

.omv-notification-message {
  display: inline-block;
  width: 300px;
  color: white;
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
}

.omv-notification-close {
  display: inline-block;
  float: right;
  width: 50px;
}
/************ End OMV Notification **************/

/************ OMV Confirmation **************/
.confirmationArea {
  display: block;
  position: fixed;
  z-index: 200;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  margin: 0!important;
  background: rgba(255, 255, 255, 0.4);
}

.confirmationBox {
  display: block;
  position: fixed;
  z-index: 300;
  left: 30vw;
  right: 30vw;
  top: 100px;
  width: 40vw;
  min-height: 150px;
  background: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px black;
}

.confirmationMessage {
  display: block;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.confirmationAction {
  display: block;
  margin: 20px 0 0 0;
  padding: 0 10px;
}

.confirmationAction button {
  display: inline-block;
  float: right;
  text-align: center;
  background: #0097A9;
  color: #ffffff;
  text-transform: initial !important;
  padding: 10px 25px!important;
  margin: 5px;
  border: none;
  border-radius: 8px;
}
/************ End OMV Confirmation **************/
button{
  padding-left: 0px;
  padding-right: 0px;
  background: none;
  border: none;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px !important;
  font-weight: 600;
  line-height: normal;
  outline: none !important;
}
.media-label{
  color:#033b5c;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px !important;
  font-weight: 600;
  line-height: normal;
}
.media-button-small{
  color: #5b7f95;
}
