/* You can add global styles to this file, and also import other style files */
@import './assets/css/material.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-pdfviewer/styles/material.css';

.e-upload{
  border-style: none !important ;
  border: 0px solid rgba(0, 0, 0, 0.12) !important ;

}

.stroke{
  border-bottom: 3px solid #0097a9;
  border-top: 0px solid rgba(0,0,0,.1);
  height: 5.1px;
  opacity: 0.09;
}
.layout{
    background: #f3f8fb;
    height: 100% !important;
}
html, body {
  height:100%;
  width:100%;
  background: #f3f8fb;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px;
}
.container {
  position: static;
  display: block;
  bottom: 0!important;
  max-width: 1440px !important;
  padding-left: 7rem !important;
  padding-right:7rem !important;
}
.cursor{
    cursor: pointer;
}
.e-checkbox-wrapper .e-frame, .e-css.e-checkbox-wrapper .e-frame {
    background-color: #fff;
    border-color: #0097A9 !important;
}
  .e-grid .e-headercell, .e-grid .e-detailheadercell {
      background-color: #00263E !important;
      color: #fff !important;
    }
.e-row{
    background-color:#DEEFF3;
    cursor: pointer;
}
.e-altrow{
  background-color:#F3F8FB;
  cursor: pointer;
}
.breadcrumbs_type5{
    --breadcrumbsDivider: "›";
    --breadcrumbsDividerSize: 20px;
  }
.e-tab .e-content {
    background: #F3F8FB !important;
}
  .breadcrumbs{
    --cssuiBreadcrumbsTextColor: var(--breadcrumbsTextColor);
    --cssuiBreadcrumbsTextColorActive: var(--breadcrumbsTextColorActive);
    --cssuiBreadcrumbsDivider: var(--breadcrumbsDivider);
    --cssuiBreadcrumbsDividerColor: var(--breadcrumbsDividerColor, inherit);
    --cssuiBreadcrumbsDividerSize: var(--breadcrumbsDividerSize, 16px);
    --cssuiBreadcrumbsIndent:  var(--breadcrumbsIndent, 8px);

    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
  }

  .breadcrumbs__item{ 
    display: inline-block;
    position: relative;

    padding-right: calc(var(--cssuiBreadcrumbsDividerSize) + var(--cssuiBreadcrumbsIndent));
    margin-right: var(--cssuiBreadcrumbsIndent);

    color: var(--cssuiBreadcrumbsTextColor);
  }

  .breadcrumbs__item:after{
    content: var(--cssuiBreadcrumbsDivider);
    width: var(--cssuiBreadcrumbsDividerSize);
    height: var(--cssuiBreadcrumbsDividerSize);

    line-height: 1;
    text-align: center;

    font-family: "Arial", sans-serif;
    font-size: var(--cssuiBreadcrumbsDividerSize);
    color: var(--cssuiBreadcrumbsDividerColor);

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .breadcrumbs__item_active{
    margin-right: 0;
    padding-right: 0;
    color: var(--cssuiBreadcrumbsTextColorActive);
  }

  .breadcrumbs__item_active:after{
    display: none;
  }
  .breadcrumbs__element{
    color: inherit;
  }
  .radiobutton-control {
    margin: 5% 0 5% 40%;
}

@media only screen and (max-width: 500px) {
    .radiobutton-control {
        margin-left: 21%;
        margin-top: 20%;
        margin-bottom: 27%;
    }
}

@media only screen and (max-width: 700px) {
    .checkbox-control {
        margin-left: 35%;
        margin-top: 8%;
    }

    .control-section {
        min-height: 200px;
    }
}

.control-section .row {
    margin: 20px 0;
}

.radiobutton-control h4 {
    color: rgba(0, 0, 0, 0.64);
    font-size: 18px;
}

.highcontrast .radio-control h4 {
    color: rgba(255, 255, 255, 0.64);
}

.e-grid {
  padding: 5px!important;
  min-width: 800px!important;
}

.e-rowcell {
  min-width: 200px!important;
}


.e-bigger .radiobutton-control h4 {
    font-size: 20px;
}
.leaflet-control-layers-toggle {
  background-image: url("https://unpkg.com/leaflet@1.4.0/dist/images/layers.png");
}

.e-tab .e-tab-header.e-tab-tex{
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5b7f95 !important;
}

/************ OMV Button **************/
.omv-green {
  background: #009B77!important;
  color: #ffffff!important;
  text-transform: initial !important;
  padding: 10px 25px!important;
  margin: 5px;
  border: none;
  border-radius: 4px;
}

.omv-primary{
  background: #0097A9!important;
  color: #ffffff!important;
  text-transform: initial !important;
  padding: 10px 25px!important;
  font-size: 16px !important;
  font-weight: 600 !important;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.3px;
  text-align: center;
  margin: 5px;
  border: none;
  border-radius: 8px !important;
}

.omv-primary[disabled]{
  background: #74f1f8 !important;
  color: #ffffff!important;
  width: 217px;
  height: 50px;
  border-radius: 8px;
}

.omv-primary-plus{
  text-transform: initial !important;
  color: #ffffff!important;
  background: #0097A9!important;
  display: inline-block;
  padding: 10px 15px 10px 28px !important;
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
  border: none;
  border-radius: 4px;
}

.omv-primary-plus[disabled] {
  background: #adf0f8 !important;
  color: #ffffff!important;
}

.omv-primary-plus::before{
  content: url("./assets/images/plus-icon.svg")!important;
  display: inline-block;
  position: absolute;
  margin: -1px 0 0 -25px;
  border: none;
  border-radius: 4px;
}
/************ End OMV Button **************/


/************ OMV Badge **************/
.omv-orange-badge {
  font-family: 'EMprint', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.1px;
  color: #033b5c;
  border-radius: 10px;
  background-color: #ffc72c;
  padding: 5px 10px;
  margin-left: 10px;
}
/************ End OMV Badge **************/


/*#region Titles*/

.form-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #033b5c;
}

.step-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #033b5c;
}

.step-description-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #5b7f95;
}

/*#endregion Titles*/

/*#region B r e a d C r u m b s*/

.back-button {
  width: 92px;
  height: 36px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.57;
  letter-spacing: 0.6px;
  color: #0097a9;
}

/*#endregion B r e a d C r u m b s*/

/*#region B U T T O N S */

.file-upload-button {
  width: 108px;
  height: 37px;
  object-fit: contain;
  border-radius: 5px;
  border: solid 1px #0097a9;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #0097a9;
}

.file-upload-button:hover {
  background-color: #0097a9;
  color: #ffffff;
}

.file-upload-label {
  width: 78px;
  height: 19px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5b7f95;
}

.button-not-allowed {
  cursor: not-allowed;
}

.btn {
  width: 217px;
  height: 50px;
  border-radius: 8px;
  border: solid 1px #0097a9;
  background-color: #0097a9;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.3px;
  text-align: center;
}
/************ End OMV Confirmation **************/
/************Media Label**********/
button{
  padding-left: 0px;
  padding-right: 0px;
  background: none;
  border: none;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px !important;
  font-weight: 600;
  line-height: normal;
  outline: none !important;
}
.media-label{
  color:#033b5c;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px !important;
  font-weight: 600;
  line-height: normal;
}
.media-button-small{
  color: #5b7f95;
}
/************End Media Label**********/
/************ End OMV Confirmation **************/
/************ Media Tile View **************/
.media-tile-info{
  font-family: 'OpenSans', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: right;
  color: #033b5c;
}
.media-tile-info-bold{
  font-family: 'OpenSans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: right;
  color: #033b5c;
}
.e-card .e-card-actions{
  padding: 12px 6px 19px 6px;
}
.center-img{
  width:100%;
  border: 1px solid #CFDBE1;
  height: 155px;
}
/************ End Of Media Tile View **************/
/*#endregion B U T T O N S*/

/*#region L A B E L S */

.form-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1px;
  margin: 10px 0;
  display: block;
  color: #5b7f95;
}

.form-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: 0.1px;
  color: #5b7f95;
}

.form-control-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: #033b5c;
}


/*#region L A B E L S */

/*#region FORMS */

.form-control-input {
  height: 38px;
  border-radius: 2px;
  border: solid 1px rgba(91, 127, 149, 0.25);
  background-color: #ffffff;
}

.form-delete {
  margin: 7px 10px;
  color: #0097a9;
}

.form-delete > span {
  font-size: 1.2em;
}

/*#region FORMS */

/************    Syncfusion Icons  **************/
.e-pencil:before{
  content:'\ea9a';
}

.e-folder:before{
  content:'\e609';
}

.e-add:before{
  content:'\e823';
}

.e-reload:before{
  content:'\e99d';
}

.e-clear:before{
  content:'\e932';
}

.e-delete:before{
  content:'\e965';
}

/************ End Syncfusion Icons **************/

/************ Breadcrumb  **************/
.breadcrumb{
  padding-bottom: 21px;
  background-color: #F3F8FB;
}
.breadcrumb > li + li:before {
  color: black;
  content: "<";
  padding: 0 5px;
}
ins{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.57;
  letter-spacing: 0.6px;
  color: #0097a9;
  cursor: pointer;
  text-decoration: none;
}
/************ End Breadcrumb **************/

/************ Image Styles **************/
img{
  cursor: pointer;
}
/************ End Image Styles **************/
/*#region Dialog */

.e-dlg-content {
  background: #EAF1F2 !important;
}

.dialog-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #033b5c;
  font-weight: 600;
  margin:0 auto;
  display:block;
}

.dialog-close {
  float: right;
}

.dialog-list {
  padding: 12px 16px !important;
  margin: 0px 16px;
  border-bottom: 1px solid rgba(91, 127, 149, 0.25);
}

.dialog-list-item {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 0.6px;
  color: #033b5c;
}

.dialog-list-item-checked {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  letter-spacing: 0.6px;
  color: #033b5c;
  font-weight: bold;
}

/*#endregion */

/*#region List */



/*#endregion */
/* Media-item-details */

.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left){
  border: #000 !important;
}
.form-control {
  background-color: #000;
  height: 3rem !important;
}
.e-input-group, .e-input-group.e-control-wrapper {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px !important;
 height: 15px !important;
  letter-spacing: 0.1px !important;
}
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::after,
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after{
background: none !important;
}
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, 
.e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before{
  background: none  !important;
}
 .e-datepicker{
  background-color: #fff;
  border: 1px solid #CED4DA;
  border-radius: 3px;
  width: 100%;
  padding: 8px 13px;
 }
 /* Media-item-details */
/* pagination */
/* .e-pager .e-pagercontainer {
  background-color: #F3F8FB;
  border-color: #F3F8FB;
}
.e-pager .e-pagercontainer {
  border-radius: 4px !important;
  border-style: solid;
  border-width: 0;
  display: inline-block;
  margin: 0 30% 0 50%;
  overflow: hidden;
}
.e-pager div, .e-pager a {
  display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 
.e-pager div, .e-pager a {
  display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */
/*  */
.e-pager {
  background-color: #F3F8FB !important;
  border-color: #F3F8FB !important;
  color: #000 !important;
  opacity: 0.87 !important;
}
.e-pager {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-size: 13px;
  padding: 0;
  white-space: normal;
  width: 100%;
}
.e-pager .e-currentitem, .e-pager .e-currentitem:hover {
  background: #0097a9 !important;
  color: #fff;
  opacity: 1;
}
.e-pager .e-pagercontainer {
    background-color: #F3F8FB !important;
    border-color: #F3F8FB !important;
}
.e-pager .e-pagercontainer {
    border-radius: 4px !important;
    border-style: solid !important;
    border-width: 0 !important;
    display: inline-block !important;
    margin: 0 30% 0 50% !important;
    overflow: hidden !important;
}
.e-pager .e-pagercontainer .e-nextpage{
  display: none !important;
}
.e-pager .e-pagercontainer .e-firstpage, .e-pager .e-pagercontainer .e-prevpage, .e-pager .e-pagercontainer .e-firstpagedisabled, .e-pager .e-pagercontainer .e-prevpagedisabled, .e-pager .e-pagercontainer .e-nextpage, .e-pager .e-pagercontainer .e-lastpage, .e-pager .e-pagercontainer .e-nextpagedisabled, .e-pager .e-pagercontainer .e-lastpagedisabled {
  border-right-style: solid;
  border-right-width: 0;
  display: none !important;
  margin-right: 12px;
  margin-top: 5px;
  min-width: 26px;
  padding: 11px 9px 8px;
}
.e-pager .e-mfirst, .e-pager .e-mprev, .e-pager .e-mnext, .e-pager .e-mlast {
  display: none !important;
}
/* end of pagination styles */
/* checkbox styles */
.e-checkbox-wrapper .e-frame.e-check {
  background-color: #0097a9 !important;
}
/* end of checkbox styles */