<div class="page__section" style=" padding-top: 1rem;">
  <a routerLink="/media/all" class="back-button">BACK</a>
</div>
<hr class="stroke" />

<p class="form-title">Upload Media</p>
<div>
  <span class="step-title"> Step 1 <i class="step-description-title">Select File</i></span>
  <br />

  <input type="file" #file style="display: none" (change)="onFilesAdded()" />
  <button class="file-upload-button" (click)="addFiles()"> {{ uploadButtonText }}</button>
  <span class="file-upload-label">{{ selectedFile?.name }}</span>
</div>

<div>
  <span class="step-title"> Step 2 <i class="step-description-title">Select Destination</i></span>
  <br />
  <br *ngIf='!isDestinationSelected' />

  <app-tree-grid *ngIf='!isDestinationSelected' [dataSource]="directories" [columns]="columns" [treeColumnIndex]="0" 
    [idMapping]="'id'" [parentIdMapping]="'parentId'"
    (rowSelected)="rowSelected($event)">
  </app-tree-grid>

  <div *ngIf='isDestinationSelected'>
    <button class="file-upload-button" (click)="changeDestination()"> Change </button>
    <div class="Step-2-folder">
      <span class="file-upload-label">Destination Folder Title:</span>
      <div>
        <span class="file-upload-path">{{ folderPath }} </span>
      </div>
    </div>
  </div>
</div>

<div *ngIf='isFileSelected && isDestinationSelected'>
  <span class="step-title"> Step 3 <i class="step-description-title">Metadata</i></span>
  <br /><br />

  <dynamic-form #dynamicForm="dynamicForm" style="display: inline" [config]="metadata"
    *ngIf="metadata?.length > 0"></dynamic-form>
  <br />
  <button type="submit" [disabled]="metadata?.length > 0 ? !dynamicForm?.valid : false"
    [ngClass]="{'button-not-allowed': metadata?.length > 0 ? !dynamicForm?.valid : false}" (click)="upload()"
    class="btn omv-primary btn-lg"> Upload </button>
  <button type="button" class="media-button-small" style="color:#079AAB; margin-left: 25px;" routerLink="/media/all">
    Cancel </button>

</div>