<div class="page__section" style=" padding-top: 1rem;">
  <a routerLink="/media/all" class="back-button">BACK</a>
</div>
<hr class="stroke" />

<p class="form-title">Upload Media</p>
<div>
  <span class="step-title"> Step 1 <i class="step-description-title">Select File</i></span>
  <br />

  <input type="file" #file style="display: none" (change)="onFilesAdded()" />
  <button class="file-upload-button" (click)="addFiles()"> {{ uploadButtonText }}</button>
  <span class="file-upload-label">{{ fileName }}</span>
</div>

<div>
  <span class="step-title"> Step 2 <i class="step-description-title">Select Destination</i></span>
  <br /><br />

  <ejs-treegrid *ngIf='!isFileSelected || !isDestinationSelected' [dataSource]='data' [treeColumnIndex]='0' (rowSelected)="rowSelected($event)" 
    [selectionSettings]='selectionOptions' [allowSorting]='true' parentIdMapping='parentID' idMapping='TaskID'>
    <e-columns>
      <e-column field='TaskName' headerText='Name' textAlign='Left'></e-column>
      <e-column field='StartDate' headerText='Date' textAlign='Left'></e-column>
    </e-columns>
  </ejs-treegrid>

  <div *ngIf='isFileSelected && isDestinationSelected'>
    <button class="file-upload-button" (click)="changeDestination()"> Change </button>
    <span class="file-upload-label">
      <b>Destination Folder Title </b>
      <b>Folder path > Child path</b>
    </span>
  </div>
</div>

<div *ngIf='isFileSelected && isDestinationSelected'>
  <span class="step-title"> Step 3 <i class="step-description-title">Metadata</i></span>
  <br /><br />

  <dynamic-form style="display: inline" [fields]="regConfig" (submit)="submit($event)" *ngIf="regConfig.length > 0"></dynamic-form>
  <br />
  <button type="submit" (click)="submit('')" class="btn omv-green btn-lg"> Upload </button>
  <button type="button" class="btn btn-lg"> Cancel </button>
  
</div>


