.form-title {
  margin-bottom: 25px;
  margin-top: 10px;
}

.step-title {
  margin-right: 10px;
}

.file-upload-button {
  margin: 25px 17px 32px 0px;
}
/* 
.file-upload-label > p:first-child {
  margin: 3px;
  font-size: 16px;
}

.file-upload-label > p:nth-child(2) {
  font-size: 14px;
  font-style: italic;
  margin: 3px;
} */