.form-title {
  margin-bottom: 25px;
  margin-top: 10px;
}

.step-title {
  margin-right: 10px;
}

.file-upload-button {
  margin: 25px 17px 32px 0px;
}

.file-upload-path{
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-style: italic;
  color: #5b7f95;
  padding-bottom: 25px;
}
.Step-2-folder{
  margin-top: -63px;
  margin-left: 124px;
}
